:root {
  --navbar-height: 98px;
  --sidebar-width: 260px;
  --collapsed-sidebar-width: 70px;
}

.app-layout {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #f7f9fb;
}

.sidebar-wrapper {
  height: calc(100vh - var(--navbar-height));
  top: var(--navbar-height);
}

.collapsed-sidebar {
    width: var(--collapsed-sidebar-width);
}

.collapsed-outlet {
    width: calc(100vw - var(--collapsed-sidebar-width));
}