uvicorn 
smolagents
smolagents[openai]
smolagents[gradio]
python-multipart
dotenv
sqlalchemy
fastapi
gradio
transformers
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
email-validator